@import "../../../bundles/app/css/_variables";
@import "../../../bundles/app/css/_flexbox";
[md-theme='#{$default_theme}'] {
    /*------------------------- 
    VIEW:   Layout Styles
    -------------------------*/
    ion-side-menus.layouts {
        /*------------------------- 
        VIEW:   Public Style
        ROUTE:  /app
        -------------------------*/
        &.public {
            ion-side-menu-content {
                box-shadow: -1px 0px 63px rgba(0, 0, 0, 0.7), 1px 0px 2px rgba(0, 0, 0, 0.7);
            }
            /*------------------------- 
            SIDE BAR MENU
            -------------------------*/
            ion-side-menu {
                /*------------------------- 
                CONTENT
                -------------------------*/
                background-color: $primary_color;
                ion-content {
                    .profile-bubble {
                        padding-bottom: 0.5em;
                        div.marker {
                            width: 7.5em;
                            height: 7.5em;
                            > div.halo {
                                border-radius: 50%;
                                border: 1px solid #c0c1c2;
                                width: 100%;
                                height: 100%;
                                padding: 5%;
                                > div {
                                    border-radius: 50%;
                                    overflow: hidden;
                                    height: 100%;
                                    width: 100%;
                                    background: $primary_color;
                                    > img {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        div.name {
                            padding-top: 0.5em;
                        }
                        div.description {
                            color: $accent_color;
                            text-transform: uppercase;
                        }
                    }
                    ion-list {
                        margin-top: 16px;
                        ion-item {
                            background-color: transparent;
                            color: $text_color;
                            border-bottom: 1px solid #444;
                            border-top: 1px solid #444;
                            > i {
                                color: $accent_color;
                            }
                            &.active,
                            &.activated {
                                background-color: $primary_Hue900_color;
                            }
                            span {
                                padding-left: 0.5em;
                            }
                            &.active {
                                border-right: 3px solid $accent_color;
                                padding: 18px;
                                a.item-content {
                                    background-color: $primary_Hue900_color;
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }
                ion-footer-bar {
                    border: none;
                    background: none;
                    background-color: $primary_color;
                    padding: 4px 16px;
                    @include flexbox();
                    @include align-items(center);
                    @include justify-content(flex-end);
                    > span {
                        &:first-child {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
