/* 
    SASS Theme Variables 
*/
/* 
    SASS Mixins
*/
[md-theme='default-theme'] {
  /*------------------------- 
  VIEW:   Activities Page
  -------------------------*/ }
  [md-theme='default-theme'] ion-view.activities.create ion-content ion-list ion-item {
    border-color: #4E4E4E;
    background: #222222;
    padding: 0px; }
    [md-theme='default-theme'] ion-view.activities.create ion-content ion-list ion-item .item {
      background: #222222;
      color: #FFF; }
    [md-theme='default-theme'] ion-view.activities.create ion-content ion-list ion-item .item-toggle {
      color: #FFF;
      padding-right: 80px; }
      [md-theme='default-theme'] ion-view.activities.create ion-content ion-list ion-item .item-toggle span {
        white-space: normal; }
      [md-theme='default-theme'] ion-view.activities.create ion-content ion-list ion-item .item-toggle label.toggle {
        top: 20px; }
    [md-theme='default-theme'] ion-view.activities.create ion-content ion-list ion-item .item-stacked-label span {
      color: #FFF; }
    [md-theme='default-theme'] ion-view.activities.create ion-content ion-list ion-item .item-stacked-label textarea {
      background: transparent;
      color: #FFF; }
  [md-theme='default-theme'] ion-view.activities.create ion-footer-bar {
    padding: 0px; }
    [md-theme='default-theme'] ion-view.activities.create ion-footer-bar > button {
      background: #4CAF50;
      border-radius: 0px;
      color: #FFF;
      text-transform: uppercase;
      font-size: 1em;
      margin: 0px; }

/*# sourceMappingURL=activities.css.map */
