/* 
    SASS Theme Variables 
*/
/* 
    SASS Mixins
*/
empty-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center; }
  empty-data empty-message {
    display: block;
    font-size: 1.2em;
    opacity: 0.8; }
  empty-data empty-legend {
    display: block;
    opacity: 0.6;
    margin-top: 0.5em;
    font-size: 0.9em;
    line-height: 1em; }
  empty-data > empty-content {
    display: block; }

/*# sourceMappingURL=empty-data.css.map */
