<ion-view hide-nav-bar="true" class="components view index" cache-view="false" can-swipe-back="false">
    <ion-header-bar>
        <button ng-click="back();" class="button button-icon button-clear ion-ios-arrow-left">
        </button>
        <span class="title">
            {{model.component.name}}
        </span>
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
    </ion-header-bar>

    <ion-header-bar class="bar-subheader">
        <!-- LOADING -->
        <flex-loading ng-if="!model.chart" title="Cargando..." legend="Iniciando escritorio">
        </flex-loading>

        <!-- CHART -->
        <div class="progress-chart" ng-if="model.chart">
            <canvas class="chart chart-doughnut" chart-legend="true" chart-colours="model.chart.colours" chart-data="model.chart.data" chart-labels="model.chart.labels" chart-options="model.chart.options">
            </canvas>
        </div>
        <div class="sub-title">
            Ordenes pendientes para Hoy:
        </div>

    </ion-header-bar>
    <ion-content class="has-subheader">
        <!-- IOS FIXED HEADER -->
        <ios-header-fix>
        </ios-header-fix>

        <!-- CONTENT -->
        <ion-list>
            <ion-item ng-click="details(item)" class="item-icon-left item-icon-right" ng-repeat="item in model.component.activities">
                <h2>
                    {{item.name}}
                </h2>
                <p>
                    {{item.identifier}}
                </p>

                <div class="state" style="background-color:{{item.groupedColor}}"></div> 

                <!-- LEFT -->
                <i class="icon component ion-ios-paper-outline"></i>

                <!-- RIGHT -->
                <i ng-show="model.component.isNear" ng-hide="item.groupedState=='REAL'" class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>

    </ion-content>
    <ion-footer-bar ng-class="{'near': model.component.isNear, 'far' : !model.component.isNear}">
        <button class="button near button-block" ng-if="model.component.isNear">
            Equipo Ubicado
        </button>
        <!-- -->
        <button class="button far button-block" ng-if="!model.component.isNear">
            Equipo No Ubicado
            <!-- 
            <span>
                (Acerca el dispositivo al equipo para activarlo)
            </span>
            -->
        </button>
    </ion-footer-bar>
</ion-view>
