<div class="close" ng-click="close()" ng-if="settings.canCancel">
    <i class="icon ion-ios-close-empty"></i>
</div>

<!-- SLIDES -->
<ion-slides slider="swiper.instance" options="swiper.options" ng-if="!identity.isAuthenticated()">
    <!-- User Login -->
    <ion-slide-page class="swiper-no-swiping">
        <user-identity-login 
        	on-action-call="actionCall" 
        	can-register="settings.canRegister" 
        	can-recover-password="settings.canRecoverPassword" 
        	authenticators="settings.authenticators">
        </user-identity-login>
    </ion-slide-page>
</ion-slides>
