@import "../../../../../bundles/app/css/_variables";
@import "../../../../../bundles/app/css/_flexbox";
user-identity {
    display: block;
    div.close {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        position: absolute;
        z-index: 999999;
        right: 8px;
        top: 16px;
        height: 35px;
        width: 30px;
        color: $text_color;
        > i {
            font-size: 3em;
        }
    }
    > ion-slides {
        position: absolute !important;
        div.swiper-pagination {
            display: none;
        }
    }
    banner {
        display: block;
        padding: 44px 16px 8px 16px;
        > banner-title {
            display: block;
            font-size: 1.7em;
            line-height: 1em;
        }
        > banner-legend {
            display: block;
            text-transform: uppercase;
            font-size: 0.8em;
            line-height: 2em;
            opacity: 0.8;
        }
    }
    /*
        STEP 1: LOGIN STEP 
    */
    user-identity-login {
        display: block;
        > ion-content {
            div.authentication-box {
                > div.custom-login {
                    > div.title {
                        padding: 1.5em 1em;
                        font-size: 1.1em;
                        color: $text_color;
                        padding-bottom: 0.2em;
                    }
                    div.list {
                        margin: 6px 14px;
                        border-radius: 8px;
                        overflow: hidden;
                        padding: 2px;
                        > label.item-input {
                            background-color: $text_color;
                            border: 1px solid $primary_color;
                            > input {
                                color: $primary_color;
                                font-size: 1em;
                                line-height: 1em;
                            }
                        }
                        > button {
                            &.button-block {
                                margin-top: 0px;
                                border-radius: 0px;
                                background: rgba(0, 0, 0, 0);
                                color: $text_color;
                                text-align: left;
                                padding-left: 1em;
                                text-transform: uppercase;
                                font-size: 0.95em;
                                background-color: #383838;
                                padding: 0.3em 1em 0.3em 1em;
                                > i {
                                    float: right;
                                }
                            }
                        }
                    }
                }
                > div.social-login {
                    > div.title {
                        padding: 1em 1em;
                        font-size: 1.1em;
                        color: $text_color;
                        padding-bottom: 0.2em;
                    }
                    > button {
                        &.facebook {
                            background-color: #365899;
                            border-radius: 0px;
                            color: #fff;
                            text-transform: uppercase;
                            font-size: 0.95em;
                            text-align: left;
                            padding: 0em 2em;
                            > i {
                                float: right;
                            }
                        }
                    }
                }
            }
        }
        > ion-footer-bar {
            background: none !important;
            height: 56px !important;
            padding: 0px !important;
            > div {
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                width: 100%;
                height: 100%;
                > div {
                    width: 50%;
                    height: 100%;
                    > button {
                        &.button {
                            margin: 0px !important;
                            height: 100%;
                            border-radius: 0px;
                            background: none;
                            color: $text_color;
                            
                            &:hover,
                            &.active,
                            &.activated {
                                background: none;
                                font-weight: bold;
                                color: $text_color;
                            }
                        }
                    }
                }
            }
        }
    }
}
