/* 
    SASS Theme Variables 
*/
/* 
    SASS Mixins
*/
user-identity {
  display: block;
  /*
      STEP 1: LOGIN STEP 
  */ }
  user-identity div.close {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    position: absolute;
    z-index: 999999;
    right: 8px;
    top: 16px;
    height: 35px;
    width: 30px;
    color: #FFF; }
    user-identity div.close > i {
      font-size: 3em; }
  user-identity > ion-slides {
    position: absolute !important; }
    user-identity > ion-slides div.swiper-pagination {
      display: none; }
  user-identity banner {
    display: block;
    padding: 44px 16px 8px 16px; }
    user-identity banner > banner-title {
      display: block;
      font-size: 1.7em;
      line-height: 1em; }
    user-identity banner > banner-legend {
      display: block;
      text-transform: uppercase;
      font-size: 0.8em;
      line-height: 2em;
      opacity: 0.8; }
  user-identity user-identity-login {
    display: block; }
    user-identity user-identity-login > ion-content div.authentication-box > div.custom-login > div.title {
      padding: 1.5em 1em;
      font-size: 1.1em;
      color: #FFF;
      padding-bottom: 0.2em; }
    user-identity user-identity-login > ion-content div.authentication-box > div.custom-login div.list {
      margin: 6px 14px;
      border-radius: 8px;
      overflow: hidden;
      padding: 2px; }
      user-identity user-identity-login > ion-content div.authentication-box > div.custom-login div.list > label.item-input {
        background-color: #FFF;
        border: 1px solid #222222; }
        user-identity user-identity-login > ion-content div.authentication-box > div.custom-login div.list > label.item-input > input {
          color: #222222;
          font-size: 1em;
          line-height: 1em; }
      user-identity user-identity-login > ion-content div.authentication-box > div.custom-login div.list > button.button-block {
        margin-top: 0px;
        border-radius: 0px;
        background: transparent;
        color: #FFF;
        text-align: left;
        padding-left: 1em;
        text-transform: uppercase;
        font-size: 0.95em;
        background-color: #383838;
        padding: 0.3em 1em 0.3em 1em; }
        user-identity user-identity-login > ion-content div.authentication-box > div.custom-login div.list > button.button-block > i {
          float: right; }
    user-identity user-identity-login > ion-content div.authentication-box > div.social-login > div.title {
      padding: 1em 1em;
      font-size: 1.1em;
      color: #FFF;
      padding-bottom: 0.2em; }
    user-identity user-identity-login > ion-content div.authentication-box > div.social-login > button.facebook {
      background-color: #365899;
      border-radius: 0px;
      color: #fff;
      text-transform: uppercase;
      font-size: 0.95em;
      text-align: left;
      padding: 0em 2em; }
      user-identity user-identity-login > ion-content div.authentication-box > div.social-login > button.facebook > i {
        float: right; }
    user-identity user-identity-login > ion-footer-bar {
      background: none !important;
      height: 56px !important;
      padding: 0px !important; }
      user-identity user-identity-login > ion-footer-bar > div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        width: 100%;
        height: 100%; }
        user-identity user-identity-login > ion-footer-bar > div > div {
          width: 50%;
          height: 100%; }
          user-identity user-identity-login > ion-footer-bar > div > div > button.button {
            margin: 0px !important;
            height: 100%;
            border-radius: 0px;
            background: none;
            color: #FFF; }
            user-identity user-identity-login > ion-footer-bar > div > div > button.button:hover, user-identity user-identity-login > ion-footer-bar > div > div > button.button.active, user-identity user-identity-login > ion-footer-bar > div > div > button.button.activated {
              background: none;
              font-weight: bold;
              color: #FFF; }

/*# sourceMappingURL=user-login.css.map */
