/* 
    SASS Theme Variables 
*/
/* 
    SASS Mixins
*/
flex-loading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center; }
  flex-loading .spinner {
    stroke: #fcdd32;
    fill: #fcdd32; }
    flex-loading .spinner svg {
      stroke: #fcdd32; }
      flex-loading .spinner svg .stop1 {
        stop-color: #fcdd32; }
      flex-loading .spinner svg .stop2 {
        stop-color: #fcdd32; }
  flex-loading > .message {
    font-size: 1em;
    opacity: 0.8; }
  flex-loading > .legend {
    opacity: 0.6;
    margin-top: 0.5em;
    font-size: 0.9em;
    line-height: 1em; }

/*# sourceMappingURL=flex-loading.css.map */
