@import "../../../bundles/app/css/_variables";
@import "../../../bundles/app/css/_flexbox";
[md-theme='#{$default_theme}'] {
    /*------------------------- 
    VIEW:   Home Page
    ROUTE:  /app/home
    -------------------------*/
    ion-view.home {
        ion-header-bar {
            &.bar-subheader {
                height: 216px;
                > div.progress-chart {
                    .chart-container {
                        margin-top: 0.5em;
                        height: 10em;
                        margin-left: -4.5em;
                        @include flexbox();
                        @include flex-direction(row);
                        > chart-legend {
                            margin-left: -3.5em;
                            @include flexbox();
                            @include align-items(center);
                            > ul {
                                > li {
                                    display: block;
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
                > div.sub-title {
                    padding: 8px 12px;
                    text-transform: uppercase;
                    position: absolute;
                    bottom: 4px;
                }
            }
        }
        ion-content {
            &.has-subheader {
                top: 260px !important;
            }
            ion-list {
                ion-item {
                    background-color: $primary_color;
                    border-color: #4E4E4E;
                    > h2 {
                        color: $text_color;
                    }
                    > p {
                        color: $text_color;
                        opacity: 0.6;
                    }
                    > i {
                        &.component {
                            color: $accent_color;
                            opacity: 0.6;
                            font-size: 1.7em;
                        }
                        &.ion-ios-arrow-right {
                            color: $text_color;
                            font-size: 1.4em;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}
