/* 
    SASS Theme Variables 
*/
/* 
    SASS Mixins
*/
[md-theme='default-theme'] {
  /*------------------------- 
  VIEW:   Layout Styles
  -------------------------*/ }
  [md-theme='default-theme'] ion-side-menus.layouts {
    /*------------------------- 
    VIEW:   Public Style
    ROUTE:  /app
    -------------------------*/ }
    [md-theme='default-theme'] ion-side-menus.layouts.public {
      /*------------------------- 
      SIDE BAR MENU
      -------------------------*/ }
      [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu-content {
        box-shadow: -1px 0px 63px rgba(0, 0, 0, 0.7), 1px 0px 2px rgba(0, 0, 0, 0.7); }
      [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu {
        /*------------------------- 
        CONTENT
        -------------------------*/
        background-color: #222222; }
        [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-content .profile-bubble {
          padding-bottom: 0.5em; }
          [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-content .profile-bubble div.marker {
            width: 7.5em;
            height: 7.5em; }
            [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-content .profile-bubble div.marker > div.halo {
              border-radius: 50%;
              border: 1px solid #c0c1c2;
              width: 100%;
              height: 100%;
              padding: 5%; }
              [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-content .profile-bubble div.marker > div.halo > div {
                border-radius: 50%;
                overflow: hidden;
                height: 100%;
                width: 100%;
                background: #222222; }
                [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-content .profile-bubble div.marker > div.halo > div > img {
                  width: 100%; }
          [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-content .profile-bubble div.name {
            padding-top: 0.5em; }
          [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-content .profile-bubble div.description {
            color: #FF5722;
            text-transform: uppercase; }
        [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-content ion-list {
          margin-top: 16px; }
          [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-content ion-list ion-item {
            background-color: transparent;
            color: #FFF;
            border-bottom: 1px solid #444;
            border-top: 1px solid #444; }
            [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-content ion-list ion-item > i {
              color: #FF5722; }
            [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-content ion-list ion-item.active, [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-content ion-list ion-item.activated {
              background-color: #151515; }
            [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-content ion-list ion-item span {
              padding-left: 0.5em; }
            [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-content ion-list ion-item.active {
              border-right: 3px solid #FF5722;
              padding: 18px; }
              [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-content ion-list ion-item.active a.item-content {
                background-color: #151515;
                padding-left: 10px; }
        [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-footer-bar {
          border: none;
          background: none;
          background-color: #222222;
          padding: 4px 16px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          align-items: center;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          -webkit-justify-content: flex-end;
          -moz-justify-content: flex-end;
          justify-content: flex-end; }
          [md-theme='default-theme'] ion-side-menus.layouts.public ion-side-menu ion-footer-bar > span:first-child {
            font-weight: bold; }

/*# sourceMappingURL=layouts.css.map */
