@import "../../../bundles/app/css/_variables";
@import "../../../bundles/app/css/_flexbox";
[md-theme='#{$default_theme}'] {
    /*------------------------- 
    VIEW:   Components Page
    -------------------------*/
    ion-view.components {
        &.view {
            ion-header-bar {
                &.bar-subheader {
                    height: 216px;
                    > div.progress-chart {
                        .chart-container {
                            margin-top: 0.5em;
                            height: 10em;
                            margin-left: -4.5em;
                            @include flexbox();
                            @include flex-direction(row);
                            > chart-legend {
                                margin-left: -3.5em;
                                @include flexbox();
                                @include align-items(center);
                                > ul {
                                    > li {
                                        display: block;
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                    > div.sub-title {
                        padding: 8px 12px;
                        text-transform: uppercase;
                        position: absolute;
                        bottom: 4px;
                    }
                }
            }
            ion-content {
                &.has-subheader {
                    top: 260px !important;
                }
                ion-list {
                    ion-item {
                        background-color: $primary_color;
                        border-color: #4E4E4E;
                        div.state {
                            position: absolute;
                            margin-top: -17px;
                            height: 10px;
                            width: 10px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                        > h2 {
                            color: $text_color;
                        }
                        > p {
                            color: $text_color;
                            opacity: 0.6;
                            padding-left: 17px;
                        }
                        > i {
                            &.component {
                                color: $accent_color;
                                opacity: 0.6;
                                font-size: 1.7em;
                            }
                            &.ion-ios-arrow-right {
                                color: $text_color;
                                font-size: 1.4em;
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
            ion-footer-bar {
                padding: 0px;
                &.far {
                    //height: 65px !important;
                }
                &.near {}
                > button {
                    &.far {
                        background: #F44336;
                    }
                    &.near {
                        background: #4CAF50;
                    }
                    border-radius: 0px;
                    color: #FFF;
                    text-transform: uppercase;
                    font-size: 1em;
                    line-height: 1.4em;
                    margin: 0px;
                    > span {
                        font-size: 0.7em;
                        display: block;
                        opacity: 0.8;
                        font-style: italic;
                        line-height: 1em;
                    }
                }
            }
        }
    }
}
