@import "../../app/css/_variables";
@import "../../app/css/_flexbox";

/*------------------------------------------------------
    Default Theme
------------------------------------------------------*/

[md-theme='#{$default_theme}'] {
    color: $text_color;
    /*-------------------------
    HEADER BAR'S 
    -------------------------*/
    ion-header-bar {
        background: $primary_color;
        border-bottom: 1px solid $primary_color;
        button,
        button.activated {
            color: $text_color !important;
            background: $accent_color;
            background-image: none;
            border: none;
        }
        .title {
            margin-left: 0px;
            color: $text-color;
        }
    }
    /*-------------------------
    CONTENT
    -------------------------*/
    ion-view {
        background-color: $primary_color;
        ion-content {
            background-color: $primary_color;
        }
    }
    /*-------------------------
    ION INFINITE SCROLL
    -------------------------*/
    ion-infinite-scroll {
        .spinner {
            stroke: $accent_color;
            fill: $accent_color;
            svg {
                stroke: $accent_color;
                .stop1 {
                    stop-color: $accent_color;
                }
                .stop2 {
                    stop-color: $accent_color;
                }
            }
        }
    }
    /*-------------------------
    ACTION SHEET
    -------------------------*/
    .action-sheet-backdrop {
        > .action-sheet-wrapper {
            background: $primary_color;
            .action-sheet-group {
                background: $primary_color;
                border-radius: 0px;
                /* SHEET TITLE */
                .action-sheet-title {
                    text-align: center;
                    font-size: 1em;
                    text-transform: uppercase;
                    background: $primary_color;
                    color: $text_color;
                    padding: 15px 0px;
                }
                /* BUTTONS */
                button {
                    border: none;
                    border-radius: 4px;
                    background: $primary_color;
                    font-size: 1.1em;
                    &.destructive {}
                }
            }
        }
    }
}


/*--------------------------------------------------
Whether the application is running within a webview on 
the device within a native application
--------------------------------------------------*/

[md-theme='#{$default_theme}'] {
    ios-header-fix {
        display: none;
    }
    &.platform-webview {
        /*--------------------------------------------------
          IOS VIEWPORT
        --------------------------------------------------*/
        &.platform-ios {
            ios-header-fix {
                background: $primary_color;
                height: 20px;
                display: block;
            }
            [x-apple-data-detectors-type="telephone"] {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}
