<ion-view view-title="Escritorio" class="home" cache-view="false" can-swipe-back="false">
    <ion-header-bar class="bar-subheader">
        <!-- LOADING -->
        <flex-loading ng-if="!model.chart" title="Cargando..." legend="Iniciando escritorio">
        </flex-loading>

        <!-- CHART -->
        <div class="progress-chart" ng-if="model.chart">
            <canvas class="chart chart-doughnut" chart-legend="true" chart-colours="model.chart.colours" chart-data="model.chart.data" chart-labels="model.chart.labels" chart-options="model.chart.options">
            </canvas>
        </div>

        <div class="sub-title" ng-if="model.components">
            Ordenes pendientes para Hoy:
        </div>

    </ion-header-bar>
    <ion-content class="has-subheader">
        <!-- IOS FIXED HEADER -->
        <ios-header-fix>
        </ios-header-fix>

        <!-- CONTENT -->
        <ion-list>
            <ion-item ng-click="details(item)" class="item-icon-left item-icon-right" ng-repeat="item in model.components">
                <h2>
                    {{item.name}}
    			</h2>
                <p>
                    <strong>{{item.activities.total}}</strong> Actividades Pendientes
                </p>
            	<!-- LEFT -->
                <i ng-if="item.type == 'Climatización'" class="icon component ion-ios-flower-outline"></i>
                <i ng-if="item.type == 'Ventilador'" class="icon component ion-ios-medical-outline"></i>
                <i ng-if="item.type == 'Camioneta'" class="icon component ion-model-s"></i>

                <!-- RIGHT -->
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
