<ion-view class="security login">
    
    <user-identity 
    	on-authenticated="onAuthenticated()" 
    	on-cancel="onCancel()"
    	can-cancel="false"
    	can-register="true",
    	can-recover-password="true"
    	authenticators="['custom','facebook']">
    </user-identity>

</ion-view>
