@import "../../../bundles/app/css/_variables";
[md-theme='#{$default_theme}'] {
    /*------------------------- 
	VIEW:   Boot Page
	ROUTE:  /boot
	-------------------------*/
    ion-view.boot {
        flex-loading {
            padding: 16px;
        }
    }
}
