<ion-view hide-nav-bar="true" class="activities create index" cache-view="false" can-swipe-back="false">
    <ion-header-bar>
        <button ng-click="back();" class="button button-icon button-clear ion-ios-arrow-left">
        </button>
        <span class="title">
            {{model.name}}
        </span>
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
    </ion-header-bar>

    <ion-content>
        <!-- IOS FIXED HEADER -->
        <ios-header-fix>
        </ios-header-fix>

        <!-- LOADING -->
        <flex-loading ng-if="!model.activities" title="Obteniendo..." legend="Cargando Orden">
        </flex-loading>

        <!-- CONTENT -->
        <ion-list>
            <ion-item ng-click="details(item)" ng-repeat="item in model.activities">
                <ion-toggle ng-model="item.selected">
                    {{item.name}}
                </ion-toggle>
            </ion-item>
            <!-- Imagen -->
            <ion-item>
                <div class="item item-button-right">
                    Capturar Imagen
                    <button class="button button-positive" ng-click="takePicture()">
                        <i class="icon ion-ios-camera"></i>
                    </button>
                </div>
            </ion-item>
            <!-- OBSERVACIONES -->
            <ion-item>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Observaciones</span>
                    <textarea rows="5" ng-model="data.observations" placeholder="Ingrese sus comentarios"></textarea>
                </label>
            </ion-item>

        </ion-list>
        
    </ion-content>
    <ion-footer-bar>
        <button ng-click="save(model.activities)" class="button button-block icon icon-right ion-ios-checkmark">
            Cerrar Orden de Trabajo
        </button>
    </ion-footer-bar>
</ion-view>
