/* 
    SASS Theme Variables 
*/
/* 
    SASS Mixins
*/
/*------------------------------------------------------
    Default Theme
------------------------------------------------------*/
[md-theme='default-theme'] {
  color: #FFF;
  /*-------------------------
  HEADER BAR'S 
  -------------------------*/
  /*-------------------------
  CONTENT
  -------------------------*/
  /*-------------------------
  ION INFINITE SCROLL
  -------------------------*/
  /*-------------------------
  ACTION SHEET
  -------------------------*/ }
  [md-theme='default-theme'] ion-header-bar {
    background: #222222;
    border-bottom: 1px solid #222222; }
    [md-theme='default-theme'] ion-header-bar button,
    [md-theme='default-theme'] ion-header-bar button.activated {
      color: #FFF !important;
      background: #FF5722;
      background-image: none;
      border: none; }
    [md-theme='default-theme'] ion-header-bar .title {
      margin-left: 0px;
      color: #FFF; }
  [md-theme='default-theme'] ion-view {
    background-color: #222222; }
    [md-theme='default-theme'] ion-view ion-content {
      background-color: #222222; }
  [md-theme='default-theme'] ion-infinite-scroll .spinner {
    stroke: #FF5722;
    fill: #FF5722; }
    [md-theme='default-theme'] ion-infinite-scroll .spinner svg {
      stroke: #FF5722; }
      [md-theme='default-theme'] ion-infinite-scroll .spinner svg .stop1 {
        stop-color: #FF5722; }
      [md-theme='default-theme'] ion-infinite-scroll .spinner svg .stop2 {
        stop-color: #FF5722; }
  [md-theme='default-theme'] .action-sheet-backdrop > .action-sheet-wrapper {
    background: #222222; }
    [md-theme='default-theme'] .action-sheet-backdrop > .action-sheet-wrapper .action-sheet-group {
      background: #222222;
      border-radius: 0px;
      /* SHEET TITLE */
      /* BUTTONS */ }
      [md-theme='default-theme'] .action-sheet-backdrop > .action-sheet-wrapper .action-sheet-group .action-sheet-title {
        text-align: center;
        font-size: 1em;
        text-transform: uppercase;
        background: #222222;
        color: #FFF;
        padding: 15px 0px; }
      [md-theme='default-theme'] .action-sheet-backdrop > .action-sheet-wrapper .action-sheet-group button {
        border: none;
        border-radius: 4px;
        background: #222222;
        font-size: 1.1em; }

/*--------------------------------------------------
Whether the application is running within a webview on 
the device within a native application
--------------------------------------------------*/
[md-theme='default-theme'] ios-header-fix {
  display: none; }
[md-theme='default-theme'].platform-webview {
  /*--------------------------------------------------
    IOS VIEWPORT
  --------------------------------------------------*/ }
  [md-theme='default-theme'].platform-webview.platform-ios ios-header-fix {
    background: #222222;
    height: 20px;
    display: block; }
  [md-theme='default-theme'].platform-webview.platform-ios [x-apple-data-detectors-type="telephone"] {
    color: inherit;
    text-decoration: none; }

/*# sourceMappingURL=sodimac.css.map */
