/* 
    SASS Theme Variables 
*/
/* 
    SASS Mixins
*/
[md-theme='default-theme'] {
  /*------------------------- 
  VIEW:   Home Page
  ROUTE:  /app/home
  -------------------------*/ }
  [md-theme='default-theme'] ion-view.home ion-header-bar.bar-subheader {
    height: 216px; }
    [md-theme='default-theme'] ion-view.home ion-header-bar.bar-subheader > div.progress-chart .chart-container {
      margin-top: 0.5em;
      height: 10em;
      margin-left: -4.5em;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      [md-theme='default-theme'] ion-view.home ion-header-bar.bar-subheader > div.progress-chart .chart-container > chart-legend {
        margin-left: -3.5em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center; }
        [md-theme='default-theme'] ion-view.home ion-header-bar.bar-subheader > div.progress-chart .chart-container > chart-legend > ul > li {
          display: block;
          text-align: left; }
    [md-theme='default-theme'] ion-view.home ion-header-bar.bar-subheader > div.sub-title {
      padding: 8px 12px;
      text-transform: uppercase;
      position: absolute;
      bottom: 4px; }
  [md-theme='default-theme'] ion-view.home ion-content.has-subheader {
    top: 260px !important; }
  [md-theme='default-theme'] ion-view.home ion-content ion-list ion-item {
    background-color: #222222;
    border-color: #4E4E4E; }
    [md-theme='default-theme'] ion-view.home ion-content ion-list ion-item > h2 {
      color: #FFF; }
    [md-theme='default-theme'] ion-view.home ion-content ion-list ion-item > p {
      color: #FFF;
      opacity: 0.6; }
    [md-theme='default-theme'] ion-view.home ion-content ion-list ion-item > i.component {
      color: #FF5722;
      opacity: 0.6;
      font-size: 1.7em; }
    [md-theme='default-theme'] ion-view.home ion-content ion-list ion-item > i.ion-ios-arrow-right {
      color: #FFF;
      font-size: 1.4em;
      opacity: 0.7; }

/*# sourceMappingURL=home.css.map */
