/* 
    SASS Theme Variables 
*/

$default_theme: 'default-theme';
$primary_color: #222222;
$primary_Hue900_color: #151515;
$accent_color: #FF5722;
$text_color: #FFF;

/* 
    SASS Mixins
*/

@mixin text-shadow($hAxis:2px, $vAxis:2px, $blur:0px, $color:#000) {
    text-shadow: $hAxis $vAxis $blur $color;
}

@mixin box-shadow($size) {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 $size 4px 0 rgba(0, 0, 0, .14), 0 $size $size -2px rgba(0, 0, 0, .12)
}

@mixin grayscale {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

@mixin transform($value) {
    -ms-transform: $value;
    /* IE 9 */
    -webkit-transform: $value;
    /* Chrome, Safari, Opera */
    transform: $value;
}
