<ion-content>
    <!-- IOS FIX HEADER (20px) ON IOS -->
    <ios-header-fix>
    </ios-header-fix>

    <!-- BANNER -->
    <banner>
        <banner-title>
            Identificación
        </banner-title>
        <banner-legend>
            Debes iniciar sesión para continuar
        </banner-legend>
    </banner>

    <!-- AUTHENTICATION BOX'S -->
    <div class="authentication-box">
        <!-- CUSTOM LOGIN -->
        <div class="custom-login" ng-if="hasAuthenticator('custom')">
            <div class="title">
                Inicie sesión con sus datos
            </div>

            <form name="form">
                <div class="list">
                    <!-- -->
                    <label class="item item-input">
                        <input type="text" placeholder="E-mail" required ng-model="user.username">
                    </label>
                    <!-- -->
                    <label class="item item-input">
                        <input type="password" placeholder="Contraseña" required ng-model="user.password">
                    </label>
                    <!-- -->
                </div>
                <div class="list">
                    <button class="button button-block" ng-disabled="form.$invalid" ng-click="authenticate('custom',user)">
                        Ingresar
                        <i class="icon ion-ios-arrow-right"></i>
                    </button>
                </div>
            </form>
        </div>
        <!-- SOCIAL LOGIN -->
        <div class="social-login" ng-if="hasAuthenticator('facebook')">
            <div class="title">
                Ó también puedes:
            </div>
            <button class="button button-block facebook" ng-click="authenticate('facebook')">
                Ingresar con Facebook
                <i class="icon ion-social-facebook"></i>
            </button>
        </div>
    </div>
</ion-content>
<ion-footer-bar>
    <div>
        <div>
            <button class="button button-block" ng-if="canRecoverPassword">
                Olvido su contraseña?
            </button>
        </div>
        <div>
            <button class="button button-block" ng-if="canRegister">
                Quiero registrarme
            </button>
        </div>
    </div>
</ion-footer-bar>
