@import "../../../bundles/app/css/_variables";
@import "../../../bundles/app/css/_flexbox";
[md-theme='#{$default_theme}'] {
    /*------------------------- 
    VIEW:   Activities Page
    -------------------------*/
    ion-view.activities {
        &.create {
            ion-header-bar {
                &.bar-subheader {}
            }
            ion-content {
                ion-list {
                    ion-item {
                        border-color: #4E4E4E;
                        background: $primary_color;
                        padding: 0px;
                        .item {
                            background: $primary_color;
                            color: $text_color;
                        }
                        .item-toggle {
                            color: $text_color;
                            padding-right: 80px;
                            span {
                                white-space: normal;
                            }
                            label.toggle {
                                top: 20px;
                            }
                        }
                        .item-stacked-label {
                            span {
                                color: $text_color;
                            }
                            textarea {
                                background: rgba(0, 0, 0, 0);
                                color: $text_color;
                            }
                        }
                    }
                }
            }
            ion-footer-bar {
                padding: 0px;
                > button {
                    background: #4CAF50;
                    border-radius: 0px;
                    color: #FFF;
                    text-transform: uppercase;
                    font-size: 1em;
                    margin: 0px;
                }
            }
        }
    }
}
